# Folders.
.DS_Store/
/.git/
/.vs/
/.vscode/
/bin/
/build/
/cache/
/log/
/node_modules/
/obj/
/output


# Files.
.DS_Store
.env*
*.csproj.user
*~
/output/*

# Application specific.
/program
BisonParser.c
BisonParser.h
FlexScanner.c

# report
*.synctex
